body {
    background-color: #FF6883;
    background-image: url("../background.gif");
    background-repeat: no-repeat;
    background-position: center 10em;
    background-size: 50% auto;
}

h1 {
    font-family: arial, helvetica, freesans;
    font-size: 45pt;
    font-weight: bold;
    margin-bottom: 0.3em;
    color: #FFF;
    text-align: center;
    text-shadow:
        -1px 1px 0 #ddd,
        -2px 2px 0 #c8c8c8,
        -3px 3px 0 #ccc,
        -4px 4px 0 #b8b8b8,
        -4px 4px 0 #bbb,
        0px 1px 1px rgba(0,0,0,.4),
        0px 2px 2px rgba(0,0,0,.3),
        -1px 3px 3px rgba(0,0,0,.2),
        -1px 5px 5px rgba(0,0,0,.1),
        -2px 8px 8px rgba(0,0,0,.1),
        -2px 13px 13px rgba(0,0,0,.1);
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40pt;
    color: #FFF;
    margin: 0.3em 0.1em;
}

h3 {
    font-family: arial, helvetica, freesans;
    font-size: 14pt;
    font-style: oblique;
    margin: 0.1em 0;
    color: #FFF;
    text-align: center;
}

.link {
    color: rgb(183, 123, 27);
    font-weight: bold;
    text-decoration: underline;
}

#content {
    background-color: rgba(0,0,0,0.7);
    margin: 2em auto auto auto;
    display: block;
    width: 60%;
    height: 40em;
    border-radius: 1em;
    border-style: none;

    /* Scrolling properties */
    overflow: auto;
}

#footer {
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    color: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    min-height: 5em;
    overflow: hidden;
    margin: 0 auto;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    z-index:999;
}

#header {
    background-color: #DDD;
    background-image: linear-gradient(
        -45deg,
        #EE7752,
        #E73C7E,
        #23A6D5,
        #23D5AB
    );
    background-size: 200% 200%;
    border-radius: 5px;
    height: 7.5em;
    width: 60%;
    margin: auto auto;
    animation: Gradient 5s ease infinite;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
